
@include font-face('Open Sans', '#{$font-path}/opensans-regular-webfont', 'Open Sans Regular' 'OpenSans-Regular', normal, $font-weight-normal);
@include font-face('Open Sans', '#{$font-path}/opensans-bold-webfont', 'Open Sans Bold' 'OpenSans-Bold', normal, $font-weight-bold);
@include font-face('Open Sans', '#{$font-path}/opensans-semibold-webfont', 'Open Sans Semibold' 'OpenSans-Semibold', normal, $font-weight-semibold);

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

#page-wrapper { transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
	&.disable-transitions {
		*, *:before, *:after { transition: none !important; }
	}

	.no-js & { transition: none;
		&.hidden { opacity: 1; visibility: visible; }
	}
}

.opaque-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: 0;
	background: $black;
	opacity: 0.5;
	z-index: -1;
}

.save-wrapper {
	bottom: 0;
	width: 100%;
	position: sticky;
	padding: 1.5rem 1.5rem;
	background: #fff;
	box-shadow: 0px -2px 16px 0px rgba(0, 0, 0, 0.06);
	text-align: right;
	margin: 20px 0;
	z-index: 10;
	.row {
		&> div {
			margin-bottom: 8px;
			@include media-breakpoint-down(md) {
				margin-bottom: 6px;
			}
		}
		align-items: center;
	}
	@include media-breakpoint-down(md) {
		padding: .5rem 1.5rem;
		.btn {
			padding: 0.25rem 0.5rem;
			line-height: 1.5;
		}
	}
}

.dashboard-col {
	@include media-breakpoint-down(md) {
		padding-right: 0;
	}
}

.alert-info a {
	color: $white;
}
