{block name='snippets-scroll-top'}
    {block name='snippets-scroll-top-main'}
        <div class="smoothscroll-top">
            <span class="scroll-top-inner">
                <i class="fas fa-2x fa-chevron-up"></i>
            </span>
        </div>
    {/block}
{/block}
